 <footer>
    @*<button type="button" class="btn btn-lg btn-success waves-effect waves-themed">
            <span class="fal fa-download mr-1"></span>
            Download
        </button>*@
    @*<button id="btnSave" type="button" onclick="SaveFormData();" class="btn btn-primary">
            حفظ
        </button>*@

    @*<button type="button" onclick="SaveFormData();" class="btn btn-lg btn-info waves-effect waves-themed">
        <span class="fa fa-download"></span>
        حفظ البيانات
    </button>*@
    <button type="button" onclick="SaveFormData();" class="btn btn-lg btn-info waves-effect waves-themed">
        <span class="fa fa-save"></span>
        حفظ البيانات
    </button>
</footer>
